:root{
  --color-grey-alpha:#ecf0f1;
  --color-grey-beta:#dee2e6;
  --color-black-alpha:#262A2D;
  --color-black-beta:#343434;
  --color-white-alpha:#fff;
  --color-blue-alpha:#3a6a91;
  --color-yellow-alpha:#fefaed;
  --color-yellow-beta:#f4ab01;
}

/* GENERIC */
body {
  background: var(--color-grey-alpha);
  color: var(--color-black-alpha);
  font-family: Arial,sans-serif;
  margin: 0;
}
code {
  background: var(--color-black-beta);
  color: var(--color-white-alpha);
  padding: 0.4rem;
}
a{
  color: inherit;
}
header, footer {
  background: var(--color-blue-alpha);
  color: var(--color-white-alpha);
  padding: 2rem;
}
header .title {
  font-size: 2em;
  font-weight: bold;
  margin: 1.34rem 0;
  text-transform: uppercase;
}

/* UTIL */
.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px); 
  clip-path: inset(50%); 
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;            
}

/* STRUCTURE */
.wrapper {
  max-width: 60em;
  margin: 0 auto;
}
.site {
  margin: 3rem 0;
}
#container {
  margin-bottom: 1rem;
}

/* DISCLOSURE */
.disclosure-container[aria-hidden="true"] {
  display: none;
}
.disclosure-container ul ul ul li {
  padding: .5rem 0;
}

/* ANALYSIS */
.analysis {
  display: flex;
  flex-direction: column-reverse;
}
.analysis > p {
  margin-top: 0;
}
.noresults {
  margin: 4rem 0;
}

/* WARNING */
.warning {
  background: var(--color-yellow-alpha);
  border: 1px solid var(--color-yellow-beta);
  padding: 1rem 2rem;
  border-radius: 10px;
  margin: 2rem 0;
}
.warning li {
  margin: .5rem 0;
}

/* TABLE */
.table {
  overflow-x: auto;
}
.table table {
  width:100%;
  border-collapse:collapse;
  border:1px solid var(--color-grey-beta);
  margin-bottom:1.5em
}
.table caption {
  margin:1em 0
}
.table thead th {
  vertical-align:middle;
  border-bottom:2px solid var(--color-grey-beta);
}
.table thead th span {
  font-size:.75em
}
.table td,
.table th {
  padding:.75rem;
  border:1px solid var(--color-grey-beta);
}
.table tbody tr:nth-of-type(odd) {
  background-color:rgba(0,0,0,.05)
}